h1 <font color=RED>Welcome,</font>
h4 Please enter your username and password to log into your account
form(id="login", method="POST", action="/login")
	lable(for='username') User Name &nbsp
	input#username(type='text', name='username')
	&nbsp &nbsp &nbsp 
	lable(for='password') Password &nbsp
	input#password(type='password', name='password')
	&nbsp &nbsp
	input(type="submit", value="Log In")
		
h1!=message